# Node / Bun
frontend/node_modules/
frontend/dist/
.DS_Store

# Python & Tooling
backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/.pytest_cache/
.ruff_cache/
backend/.ruff_cache/

# Database
# backend/titanes.duckdb
backend/*.duckdb.wal

# Environment & AI tools
.env
.aider*
.continue/

